.menuContainer > div:nth-child(3) {
  box-shadow: 0.2rem 0.2rem 2rem var(--COLOR-BACKGROUND-DARK-100);
}

.menuContainer > div:nth-child(3) li {
  color: var(--COLOR-ERROR);
  font-size: 1.5rem;
  padding: 1.5rem;
}

.menuContainer > div:nth-child(3) li:hover {
  background-color: var(--COLOR-BACKGROUND-DARK-100);
}

.menuContainer > div:nth-child(3) ul {
  padding: 0;
}
