button.followBtn {
  background-color: var(--COLOR-FOLLOW-BACKGROUND);
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  width: max-content;
}

button.followBtn:hover {
  background-color: var(--COLOR-FOLLOW-BACKGROUND-DARK-100);
}

button.followBtn.disabledBtn {
  background-color: var(--COLOR-FOLLOW-BACKGROUND);
  color: var(--COLOR-SEARCH-BACKGROUND);
}

div.inputField {
  background-color: var(--COLOR-SEARCH-BACKGROUND);
  border-radius: 5rem;
  box-shadow: inset 0px 1px 4px var(--COLOR-SEARCH-INNER-SHADOW);
  color: var(--COLOR-TEXT);
  display: flex;
  font-size: 1.7rem;
  margin: auto;
  padding: 0.5rem 1.5rem;
  width: 90%;
}

.followBox {
  background-color: var(--COLOR-SEARCH-BACKGROUND);
  border-radius: 1.5rem;
  color: var(--COLOR-TEXT);
  margin: 3rem auto 0.5rem;
  padding: 2rem;
  width: 90%;
}

.followBox h2 {
  font-size: 2rem;
  font-weight: 600;
}

.listText > :is(a, p) {
  color: var(--COLOR-TEXT);
  font-size: 1.5rem;
  padding-left: 1rem;
}

.listText > a {
  font-weight: 600;
  text-decoration: none;
}

.listText > a:hover {
  text-decoration: underline;
}

.searchIcon {
  fill: var(--COLOR-TEXT);
  height: 2rem;
  width: 2rem;
}

.searchIcon > path {
  transform: translate(-10%, -10%) scale(0.5);
}
