button.btn_eyeIcon {
  height: 3rem;
  padding: 0;
  width: 3.5rem;
}

.eyeIcon {
  fill: var(--COLOR-TEXT);
  height: 100%;
  width: 100%;
}

.eyeIcon > path {
  transform: translate(10%, 10%) scale(0.5);
}
