button.btn_broadcast {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
}

button.btn_broadcast.btn_disabled {
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-SEARCH-BACKGROUND);
  opacity: 0.5;
}

div.action_broadcast {
  padding: 0.5rem 1.5rem 1rem;
}

div.dialog_content {
  padding: 0.5rem 2rem 0;
}

div.dialog_content textarea {
  border-bottom: thin solid var(--COLOR-BACKGROUND-DARK-100);
  color: var(--COLOR-TEXT);
  font-size: 1.8rem;
  line-height: 1.5em;
  padding: 0.5rem 0;
}

div.dialog_content *::after,
div.dialog_content *::before {
  display: none;
}

.dialogContainer > div:nth-child(3) {
  align-items: flex-start;
}

.dialogContainer > div:nth-child(3) > div {
  width: 50rem;
}
