.page_heading {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: var(--COLOR-BACKGROUND-OPACITY-70);
  color: var(--COLOR-TEXT);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
