@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
  --COLOR-BACKGROUND: #eff6ff;
  --COLOR-BACKGROUND-DARK-100: #d6dce4;

  --COLOR-FOLLOW-BACKGROUND: #c47d09;
  --COLOR-FOLLOW-BACKGROUND-DARK-100: #ab6d08;

  --COLOR-LOGOUT-DIALOG-TICK: #84cc16;

  --COLOR-PRIMARY: #3b82f6;
  --COLOR-PRIMARY-DARK-100: #3a7be4;

  --COLOR-TEXT: #475569;
  --COLOR-SEARCH-BACKGROUND: white;
  --COLOR-SEARCH-INNER-SHADOW: rgba(0, 0, 0, 0.25);

  --SIZE-CONTAINER-LG: 1300px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--COLOR-BACKGROUND);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.container-lg {
  margin: auto;
  max-width: var(--SIZE-CONTAINER-LG);
  padding-right: 1rem;
}

.main-container {
  border: solid var(--COLOR-BACKGROUND-DARK-100);
  border-width: 0 thin 0 thin;
}

/* override */

::-ms-reveal {
  display: none !important;
}
